<mat-card>

    <mat-card-title>
    Novo Produto
</mat-card-title>
<span *ngIf="submitted && formularioProduto.invalid"> Todos os campos são obrigatórios</span>
<form [formGroup]="formularioProduto" (ngSubmit)="CriarProduto()">
    
    <mat-form-field>
     <input matInput placeholder="Nome" [(ngModel)]="product.name" name="name"
       formControlName="Produto" type="text">
    </mat-form-field>


    <mat-form-field>
        <input matInput placeholder="Preço (R$)" [(ngModel)]="product.price" name="price"
        formControlName="Preco" >
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Cor" [(ngModel)]="product.color" name="color"
        formControlName="Cor" type="text" >
    
    
    </mat-form-field>

    
        <button mat-raised-button type="submit" (click)="createProduct()" color="accent">
        Criar 
        </button>

        </form>
    </mat-card>

<button mat-raised-button (click)="createProduct()" color="accent">
    Salvar
</button>

<button mat-raised-button (click)="cancel()" >
    Cancelar
</button>
