
<!---Dados do Banco-->
<!-- 
<div class="container mt-4">
    <mat-card class="home mat-elevation-z4">
        <div class="card-body">
<table>
                 <thead>
                  <tr>
                    <th>Produto</th>
                    <th>Preço</th>
                    <th>Cor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let Produto of Produtos">
                    <td>{{Produto.Produto}}</td>
                    <td>{{Produto.Preco}}</td>
                    <td>{{Produto.Cor}}</td>
                    <td></td>
                    <td>
                      <i (click)="eliminarProduto(Produto.id)" class="material-icons delete ">delete</i>
                    </td>
                  </tr>


                </tbody>
              </table>
        </div>
      </mat-card>
</div>

-->




<!--FEIto AGora-->
<!--

<div class="container mt-4">
    <mat-card class="home mat-elevation-z4">
        <div class="card-body">
<table>
                 <thead>
                  <tr>
                    <th>Produto</th>
                    <th>Preço</th>
                    <th>Cor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let produto of produtoList">
                    <td>{{produto.Produto}}</td>
                    <td>{{produto.Preco}}</td>
                    <td>
                      <i (click)="deleteProduto(produto.id)" class="material-icons ">delete</i>
                      <i (click)="openModa(produto.id)" class="material-icons ">mode</i>
                    </td>

                    <td>
                  
<ng-template let-d="dismiss">
  <form [formGroup]="form" (ngSubmit)="updateProdutos(produto.id)">
    <div class="form-group">
      <label for="Produto">Produto</label>
      <input id="Produto" type="text" formControlName="Produto"
      class="form-control">
    </div>
    
  
    <div class="form-group">
      <label for="Preco">Preco</label>
      <input id="Preco" type="number" formControlName="Preco"
             class="form-control">
    
            </div>
     
            <div class="text-center">
              <button
                      type="submit">Save</button>
                      <button class="btn btn-secondary btn-sm pl-4 pr-4 ml-2" click="d()">Cancel</button>
            </div>
          </form>
</ng-template>


</tr>
     </tbody>
     </table> 
     </div>
     </mat-card>
     </div>              

                  
     
--->

























<mat-card class="home mat-elevation-z4">



  <div class="text-right mb-6">
  

 
  <div class="row"*ngIf="produtoList.length">
  
<table>
  <tbody>
<tr *ngFor="let produto of produtoList">
  <td>
  <div class="cl">{{produto.id}}</div>
  </td>
  <td>  
  <div class="heading">{{produto.Produto}}</div>
</td>
<td>  
  <div class="sub-heading">{{produto.Preco}}</div>
</td>
<td>  
  <div class="sub-heading">{{produto.Cor}}</div>
</td>
  <td>
    <i class="material-icons edit" (click)='openModa(popup,produto.id,produto.Produto,produto.Preco,produto.Cor)'>mode</i>
    
    <i class="material-icons delete" (click)='deleteProduto(produto.id)'>delete</i>
   </td>
  </tr>


</tbody>
</table>
</div>
</div>




  <ng-template #popup let-d="dismiss">
  <div class="modal-header text-primary">
    
  </div>

<mat-card class="modal-body caixa">

<form [formGroup]="form" (ngSubmit)="updateProdutos()" >
  
  
  <div class="form-group">
    <label for="Produto">id</label>
    <input [disabled]="form.valid" value="codigo do produto"  id="Produto" type="text" formControlName="id"
    class="form-control">
  </div>
  
  
  
  
  
  <div class="form-group">
    <label for="Produto">Produto</label>
    <input id="Produto" type="text" formControlName="Produto"
    class="form-control">
  </div>
  

  <div class="form-group">
    <label for="Preco">Preco</label>
    <input id="Preco" type="number" formControlName="Preco"
           class="form-control">
          </div>
           <div class="form-group">
            <label for="Cor">Cor</label>
            <input id="Cor" type="string" formControlName="Cor"
                   class="form-control">
</div>


         
   
          <div class="text-center">
            <button type="submit">Save</button>
                    <button class="btn btn-secondary btn-sm pl-4 pr-4 ml-2" (click)="d()">Cancel</button>
          </div>
        </form>
    
   
  
  </mat-card>
  </ng-template>
  

</mat-card> 












